[project]
name = "midsummer"
version = "0.1.5"
description = "Return date for midsummer"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "assertpy>=1.1",
    "black>=25.1.0",
    "pytest>=8.4.0",
    "pytest-html>=4.1.1",
    "ruff>=0.11.13",
]
